/* Color palette */
/*Page names*/
/* font family */
/*OpenSans-Regular*/
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-Bold*/
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSansCondensed-Bold*/
@font-face {
  font-family: "OpenSansCondensed-Bold";
  src: url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSansCondensed-Light*/
@font-face {
  font-family: "OpenSansCondensed-Light";
  src: url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSansCondensed-LightItalic*/
@font-face {
  font-family: "OpenSansCondensed-LightItalic";
  src: url("../fonts/OpenSansCondensed-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-ExtraBold*/
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-ExtraBoldItalic*/
@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-Italic*/
@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-Light*/
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-LightItalic*/
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-SemiBold*/
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-SemiBoldItalic*/
@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-SemiBold*/
@font-face {
  font-family: "trashhand";
  src: url("../fonts/trashhand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

.breadcrums
.container
.breadcrumb
ol li {
  list-style-type: none;
}

.visually-hidden {
  visibility: hidden;
}

/* Color palette */
/*Page names*/
/* font family */
/*OpenSans-Regular*/
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-Bold*/
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSansCondensed-Bold*/
@font-face {
  font-family: "OpenSansCondensed-Bold";
  src: url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSansCondensed-Light*/
@font-face {
  font-family: "OpenSansCondensed-Light";
  src: url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSansCondensed-LightItalic*/
@font-face {
  font-family: "OpenSansCondensed-LightItalic";
  src: url("../fonts/OpenSansCondensed-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-ExtraBold*/
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-ExtraBoldItalic*/
@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-Italic*/
@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-Light*/
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-LightItalic*/
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-SemiBold*/
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-SemiBoldItalic*/
@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/*OpenSans-SemiBold*/
@font-face {
  font-family: "trashhand";
  src: url("../fonts/trashhand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

.header_top {
  max-width: 100%;
}

.header_top .menu--primary-navigation {
  height: 44px;
  background-color: gray;
}

.header_top .menu--primary-navigation .menu li {
  list-style-type: none;
  display: inline-block;
}

.header_top .menu--primary-navigation .menu li a {
  color: white;
  text-decoration: none;
}

.header_top .menu--burger-menu {
  height: 46px;
  background-color: indianred;
}
/*# sourceMappingURL=main.css.map */